.horizontal-list {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.horizontal-list li {
  list-style-type: disc;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#password-list-spc-chr {
  color: var(--red);
}
#password-list-caps,
#password-list-lowercase,
#password-list-numbers {
  color: #32a709;
}
